%head
  %title Fair weather events near you
%body
  %h1#zipcode_label what to do, what to do
  = form_tag('/events', method: 'get') do
    = label_tag('zip', 'Enter ZIP code')
    = text_field_tag('zipcode', nil, maxlength: 5, size: 5)
    = text_field_tag('datetime', nil, class: "form-control", id: 'date_field', size: 8, :data => {:provide => 'datepicker'})

    = submit_tag 'Submit'
  %h1#results
    %p
      - flash.each do |key, value|
        %strong
          = value
